<% unless admin_signed_in? %>

	<p>	<%= link_to 'Submit Article', new_article_path %> </p>

<% end %>

<% for article in @articles %>

<div class="article">
	<div class="main">
		<h2><%= link_to article.title, article %></h2>
		<div class="description">
			<%= raw article.content %>
		</div>		
	</div>
	<br/>
	<div class="side">
		<div class="published_at"> <%= article.published_on.to_s %> </div>
	</div>

</div>

	<% if admin_signed_in? %>
	    <p> <%= link_to 'Edit', edit_article_path(article) %> </p>
	<% end %>

<% end %>