<p>
  <h1> <%= @article.title %> </h1>
</p>

<p>
  <%= raw(@article.content) %>
</p>

<p>
   <b>Tags:</b> <%= raw(related_articles(@article.tag_list)) %> 
</p>

<br/>

<%= render :partial => "/shared/social_buttons", :locals => { :article => @article }  %>
		
<%= link_to left_arrow("Back"), articles_path %> 

<% if admin_signed_in? %>|
	<%= link_to 'Edit', edit_article_path(@article) %> 
<% end %>


<% content_for :meta_tags do %>

  <% if @show_related %>
		<% set_meta_tags :title  => @article.title, 
										 :description => truncate(@article.content, :length => 360, :omission => ' ...'), 
										 :noindex => true, 
										 :nofollow => true %>
	<% else %>
	  	<% set_meta_tags :title  => @article.title, 
											 :description => truncate(@article.content, :length => 360, :omission => ' ...'),
 											 :canonical => article_path(@article),
 											 :open_graph => { :title => "Credit Cards Logic", 
																				:type => 'blog', 
																				:url => CGI::escape(request.url),
												 								:image => 'http://www.creditcardslogic.com/ccl.jpg',
																				:site_name => 'Credit Cards Logic Site',
																				:admins => "100000846404274",
																				:description => truncate(@article.content, :length => 360, :omission => ' ...')} %>
	<%- end -%>
	
<%- end -%>
