<p>
  <h1> <%= @article.title %> </h1>
</p>

<p>
  <%= raw(@article.content) %>
</p>


<br/>

<div> <%= tweet_button(:via => "CreditCardLogic", :url => polymorphic_url(@article), :text  => "Check this out!") %></script> </div>		
		
<%= link_to left_arrow("Back"), articles_path %> 

<% if admin_signed_in? %>|
<%= link_to 'Edit', edit_article_path(@article) %> 
<% end %>

<% content_for :title, @article.title %>
<% content_for :meta_description,  raw(truncate(@article.content, :length => 500, :omission => ' ...')) %>
