<h2 align="center">Contact Us</h2>

<div class="login">
	
<% form_for @feedback do |f| -%>
  <%= render "shared/error_messages", :target => @feedback %>  
  <div class="field">
	<%= f.label :name %><br/>
	<%= f.text_field :name %>	
  </div>
  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.text_field :email %>
  </div>
  <p>
    <%= f.label :message, "Message" %><br />
    <%= f.text_area :message, :size => "50x20" %>
  </p>
  <p><%= f.submit "Send Message" %></p>

<% end -%>

</div>