<% if admin_signed_in? %>

	<p>
	  <strong>Name:</strong>
	  <%= @category.name %>
	</p>

	<p>
	  <%= link_to "Edit", edit_category_path(@category) %> |
	  <%= link_to "View All", categories_path %>
	</p>
 
<% else %>

	<p>
	  <strong><%= @category.name %> </strong>
	</p>

<% end %>

<%= render :partial => '/articles/article', :collection => @articles %>

