<% if admin_signed_in? %>

	<p>
	  <strong>Name:</strong>
	  <%= @category.name %>
	</p>

	<p>
	  <%= link_to "Edit", edit_category_path(@category) %> |
	  <%= link_to "View All", categories_path %>
	</p>
 
<% end %>

<% if @outliner %>
	<%= render :partial => '/shared/outliner', :locals  => { :outliner => @outliner }  %>
<% end %>

<p>Related Articles:</p>

<%= render :partial => '/articles/article', :collection => @articles %>

