<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title><%= h(yield(:title) || "Merlot") %></title>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'admin', 'common' %> 

 <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
 <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application", "rails" %>

	<%= yield(:head) %>
	<%= include_tiny_mce_if_needed %>
  
</head>
<body>

	<div id="Header">
		<div class="navigation">&nbsp;</div>
		<!-- TABS -->
		<div id="Tabs">
			<ul id="MainTabs">
				<li>
					<%= link_to 'Dashboard', admins_path, :class => is_active?("admins") %>
				</li>
				<li>
					<%= link_to 'Articles', articles_path, :class => is_active?("articles") %>
				</li>
				<li>
					<%= link_to 'Users', accounts_index_path, :class => is_active?("accounts") %>
				</li>
				<li>
					<%= link_to 'Profile', edit_admin_registration_path, :class => is_active?("admin/edit") %>
				</li>
				<li>
					<%= link_to 'Logout', destroy_admin_session_path, :class => is_active?("devise/sessions") %>	
				</li>
			</ul>
		</div>
	</div>

	<%- flash.each do |name, msg| -%>
	<%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
	<%- end -%>

	<div id="Wrapper">
		<div class="container">
			<div class="clearfix"></div>
			<div class="fleft content-container">
				<div class="page_header">    
					<div class="link_back" style="float:left;">
						<%= link_to "« All Articles", articles_path %>
					</div>
					<div class="page_header_links">
						<%= link_to "New article", new_article_path, :class => "admin" %>
					</div>
				</div>

				<div class="content-wrapper">
					<div class="content">

						<%- if show_title? -%>
						<h1><%=h yield(:title) %></h1>
						<%- end -%>

						<%= yield %>


					</div>	
				</div>	
			</div>
			<div class="fleft right-container">
				<div class="right-content-container">
					<div class="right-content">
					</div>	
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</body>
</html>


