<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
  
    <title><%= yield(:title) %></title>
		<meta name="description=" content='<%= yield(:meta_description) %>' >
		<%= yield(:fb_open_graph) %>
		
		<%= canonical_link_tag %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'application', 'common' %>
 <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
 <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application", "rails" %>

    <%= yield(:head) %>
  <%= include_tiny_mce_if_needed %>
  </head>
  <body>

<div id="Header">
	<div class="navigation">&nbsp;</div>
	<!-- TABS -->
	<div id="Tabs">
		<ul id="MainTabs">
			<li>
				<%= link_to 'Home', root_path, :class => is_active?("home") %>
			</li>
			<li>
				<%= link_to 'Articles', articles_path, :class => is_active?("articles") %>
			</li>
			<li>
<!-- 
			<% if user_signed_in? -%>
				<li>
					<%= link_to 'My Profile', edit_user_registration_path, :class => is_active?("users/edit")  %>
				</li>
				<li>
					<%= link_to 'Sign out', destroy_user_session_path %>
				</li>
		    <% else %>
				<li>
				  <%= link_to 'Sign up', new_user_registration_path, :class => is_active?("registrations") %> 			
				</li>
				
				<li>
			  	  <%= link_to 'Sign in', new_user_session_path, :class => is_active?("devise/sessions") %>	
				</li>
	        <% end -%>
	 -->
	
			<li>
				<%= link_to 'Contact', new_feedback_url, :class => is_active?("feedbacks") %>
			</li>
		</ul>
	</div>
</div>



<%- flash.each do |name, msg| -%>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>


<div id="Wrapper" style="position: relative;">
	<div class="container">
		<div class="clearfix"></div>
		<div class="fleft left-container">
			
	<% if @left_navigation %>
		
			<div class="left-content-container">
				<h2>Categories</h2>
				<div class="left-content">
					<ul>						
						<% for category in Category.list_for_navigation %>
							<li>
										<%= link_to category.name, category %>
							</li>			
					  <% end %>					
					</ul>
				</div>	
				<br/>

				
			</div>		
 
	<% end %>
		</div>
		<div class="fleft center-container">
			<div class="center-content-container">
				<div class="center-content">
					
					  <%= yield %>

				</div>	
			</div>	
		</div>
					
	<% if @right_navigation %>				
				<div class="right-content">
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-9439388795243237";
					/* Right Side Wide Skyscraper */
					google_ad_slot = "6261817952";
					google_ad_width = 160;
					google_ad_height = 600;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>					
				</div>	
		<div class="clearfix"></div>
	</div>
	
   <% end %>

</div>

  </body>
</html>
