<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Merlot") %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
 <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css" %>
 <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application", "rails" %>

    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
			
	  <p><%= link_to 'Home', root_path %> | <%= link_to 'Articles', articles_path %></p>
		<div id="user_login_box" style="float:right">
	      <% if user_signed_in? -%>
	          <%= current_user.email %> |
	          <%= link_to 'My Profile', edit_user_registration_path %> |
	          <%= link_to 'Sign out', destroy_user_session_path %>  |
		  <% else %>
			  <%= link_to 'Sign up', new_user_registration_path %> |
		  	  <%= link_to 'Sign in', new_user_session_path %> |
	      <% end -%>
		 <%= link_to 'Contact', new_feedback_url %>
	 	</div>

      <div style="clear:both"></div>

      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>

      <%= yield %>
    </div>
  </body>
</html>


